<form action="{{ action }}" method="post" id="foxpost_shipping">
  <input type="hidden" name="Ref" value="{{ foxpost_ordercode }}" />
</form>

<div class="buttons">
  <div class="pull-right">
    <input type="button" onclick="$('form#foxpost_shipping').submit();" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
  </div>
</div>